<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Flask App</title>

  <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">

</head>
<body>
  <div id="ape">
    <p id="demo">Waddup</p>
    <p id=demo>If you click on the "Hide" button, I will disappear.</p>
  </div>


  <button id="hide">Hide</button>
  <button id="show">Show</button>

  <form action = "http://192.168.1.124:4444/login" method = "post">
        <p>Enter Name:</p>
        <p><input type = "text" name = "nm" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>





  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/myfile.js')}}" charset="utf-8"></script>



</body>


</html> -->
